.layout {
	width: 100%;
	height: 100%;
	display: flex;

	&__header {
		width: 100%;
		height: auto;
		max-width: 1180px;
		margin: 0 auto;
	}

	&__content {
		width: 100%;
		height: auto;
		padding: 20px;
		max-width: 1180px;
		margin: 0 auto;

		&__title {
			flex-grow: 1;
			color: #ffffff;
		}
	}

	&__navbar {
		width: 100%;
		max-width: 1180px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
}
