.foodTable {
	.foodTableHead {
		padding: 5px 0;

		&--recipe {
			text-align: center;
		}
	}

	.foodTableRow {
	}

	.foodTableCell {
		padding: 0;

		&--image,
		&--food,
		&--stamina,
		&--burn {
			text-align: center;
		}
	}
}

.recipe_cell {
	min-width: 270px;
	text-align: left;
	margin-left: 5px;

	&_item {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 62px;
		border-radius: 8px;
		background-color: #e9e5dc;

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 25px;
			height: 40px;
			text-align: center;
			font-weight: bold;
			border-radius: 8px 0 0 8px;
		}

		img {
			width: 40px;
			padding: 3px;
			z-index: 5;
		}

		&_bg {
			background-image: url('/img/card-bg.png');
			background-size: cover;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 0;
		}
	}

	div {
		width: 25%;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
	}
}
